{% include "partials/header.html" %}
<style>
  .background {
    background-image: url("{{ background }}")
  }
</style>
<div class="background"></div>
<div id="loader-wrapper" class="hidden">
    <div id="loader"></div>
</div>
<h1>Imposters</h1>
<nav class="topNav">
  <div>
    {% for building in buildings %}
    <a href="/{{ building.smallName }}/{{ currentTime }}seventies" class="building {% if building.smallName === currentBuilding %}active{% endif %}">{{ building.name }}</a>
    {% endfor %}
  </div>
</nav>
</nav>
<h2>Posters door de jaren heen</h2>
<p>Ben je ook zo benieuwd wat er speelde in <a href="/paradiso/seventies">Paradiso in de jaren zeventig?</a></p>
<p>Of in <a href="/melkweg/nineties">de Melkweg in de jaren negentig?</a></p>
{% include "partials/footer.html" %}
