<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/manifest.json" rel="manifest">
  <link href="/css/main.css" rel="preload" onload="this.rel='stylesheet'" as="style">
  <noscript>
      <link rel="stylesheet" href="/css/main.css">
  </noscript>
  <title>Imposters</title>
</head>
<body>
  <div class="background"></div>
  <h1>Imposters</h1>
  <a href="/paradiso/seventies" class="return">Terug</a>
  <h1>Helaas... uw internet werkt niet of onze server is offline. We hebben deze pagina nog niet voor u opgeslagen.</h1>
</body>
<script src="/js/bundle.js"></script>
<script>
  if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js');
  }
</script>
</body>
</html>